# MAT281 - Laboratorio N°03

## Problema 01


<img src="https://imagenes.universia.net/gc/net/images/practicas-empleo/p/pr/pro/profesiones-con-el-avance-de-la-tecnologia.jpg" width="480" height="360" align="center"/>


EL conjunto de datos se denomina `ocupation.csv`, el cual contiene información de distintos usuarios (edad ,sexo, profesión, etc.).

Lo primero es cargar el conjunto de datos y ver las primeras filas que lo componen:

In [1]:
import pandas as pd
import os

In [2]:
# cargar datos
df = pd.read_csv(os.path.join("data","ocupation.csv"), sep="|").set_index('user_id')
df.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

El objetivo es tratar de obtener la mayor información posible de este conjunto de datos. Para cumplir este objetivo debe resolver las siguientes problemáticas:

1.- ¿Cuál es el número de observaciones en el conjunto de datos?

In [3]:
print("el número de observacione es: \n", df.shape[0])

el número de observacione es:
 943

2.- ¿Cuál es el número de columnas en el conjunto de datos?

In [6]:
print("el número de columnas es :\n", df.shape[1])

el número de columnas es :
 4

3.- Imprime el nombre de todas las columnas

In [10]:
for i in range(df.shape[1]):
    print("el nombre de la columna", i, "es:", df.columns[i])

el nombre de la columna 0 es: age
el nombre de la columna 1 es: gender
el nombre de la columna 2 es: occupation
el nombre de la columna 3 es: zip_code

4.- Imprima el índice del dataframe

In [11]:
df.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

5.- ¿Cuál es el tipo de datos de cada columna?

In [13]:
df.dtypes

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

6.- Describir el conjunto de datos (**hint**: .describe())

In [14]:
df.describe

<bound method NDFrame.describe of          age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]>

7.- Imprimir solo la columna de **occupation**.

In [17]:
df["occupation"]

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

8.- ¿Cuántas ocupaciones diferentes hay en este conjunto de datos?

In [18]:
ocup=df["occupation"].unique()
print("hay", ocup.shape[0], "ocupaciones diferentes")

hay 21 ocupaciones diferentes

9.- ¿Cuál es la ocupación más frecuente?

In [19]:
df.describe(include="all")["occupation"]["top"]

'student'

10.- ¿Cuál es la edad media de los usuarios?

In [21]:
print("la edad media de los usuarios es:", df["age"].mean(), "años")

la edad media de los usuarios es: 34.05196182396607 años

11.- ¿Cuál es la edad con menos ocurrencia?

In [25]:
emo=df["age"].unique() #revisa todas las edades que hay
f=pd.Series()

for i in emo:
    c=0
    for j in df["age"]:
        if i==j:
            c+=1
    f.loc[i]=c
f_min=f.min() #definir valor minimo
mask=f==f_min #mak busca valor objetivo
f[mask] #aplica mask sobre la serie

print("las edades con menos ocurrencia son:\n", f[mask])

las edades con menos ocurrencia son:
 7     1
66    1
11    1
10    1
73    1
dtype: int64

<ipython-input-25-b3e094f2e066>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  f=pd.Series()

12.- Encontrar la edad promedio según la variable **occupation**

In [54]:
occ=df["occupation"].unique() #lista de todas las ocupaciones
for i in occ:
    suma=0
    c=0
    n=1
    for j in df["occupation"]:
        if i==j:
            suma+=df["age"][n] #edad de esa ocupacion
            c+=1
        n+=1
    d=suma/c
    print("la edad promedio de", i, "es", d, "años")

la edad promedio de technician es 33.148148148148145 años
la edad promedio de other es 34.523809523809526 años
la edad promedio de writer es 36.31111111111111 años
la edad promedio de executive es 38.71875 años
la edad promedio de administrator es 38.74683544303797 años
la edad promedio de student es 22.081632653061224 años
la edad promedio de lawyer es 36.75 años
la edad promedio de educator es 42.01052631578948 años
la edad promedio de scientist es 35.54838709677419 años
la edad promedio de entertainment es 29.22222222222222 años
la edad promedio de programmer es 33.121212121212125 años
la edad promedio de librarian es 40.0 años
la edad promedio de homemaker es 32.57142857142857 años
la edad promedio de artist es 31.392857142857142 años
la edad promedio de engineer es 36.38805970149254 años
la edad promedio de marketing es 37.61538461538461 años
la edad promedio de none es 26.555555555555557 años
la edad promedio de healthcare es 41.5625 años
la edad promedio de retired es 63.07142857142857 años
la edad promedio de salesman es 35.666666666666664 años
la edad promedio de doctor es 43.57142857142857 años

## Problema 02


<img src="https://image.freepik.com/vector-gratis/varios-automoviles-dibujos-animados_23-2147613095.jpg" width="360" height="360" align="center"/>


EL conjunto de datos se denomina `Automobile_data.csv`, el cual contiene información tal como: compañia, precio, kilometraje, etc.

Lo primero es cargar el conjunto de datos y ver las primeras filas que lo componen:

In [134]:
# cargar datos
df = pd.read_csv(os.path.join("data","Automobile_data.csv")).set_index('index')
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

El objetivo es tratar de obtener la mayor información posible de este conjunto de datos. Para cumplir este objetivo debe resolver las siguientes problemáticas:

1. Elimine los valores nulos (Nan)

In [135]:
A=df.dropna()
A.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

2. Encuentra el nombre de la compañía de automóviles más cara

In [138]:
#consideraremos la compañia mas cara aquella que tenga el auto mas caro
pMax=A.describe(include="all")["price"]["max"]
f=1
for i in df["company"]:
        if df["price"][f]== pMax:
            print("la compañia mas cara es", i)
        f+=1

KeyError: 7

3. Imprimir todos los detalles de Toyota Cars

In [127]:
print(A[A["company"]=="toyota"])

      company body-style  wheel-base  length engine-type num-of-cylinders  \
index
66     toyota  hatchback        95.7   158.7         ohc             four
67     toyota  hatchback        95.7   158.7         ohc             four
68     toyota  hatchback        95.7   158.7         ohc             four
69     toyota      wagon        95.7   169.7         ohc             four
70     toyota      wagon        95.7   169.7         ohc             four
71     toyota      wagon        95.7   169.7         ohc             four
79     toyota      wagon       104.5   187.8        dohc              six

       horsepower  average-mileage    price
index
66             62               35   5348.0
67             62               31   6338.0
68             62               31   6488.0
69             62               31   6918.0
70             62               27   7898.0
71             62               27   8778.0
79            156               19  15750.0

4. Cuente el total de automóviles por compañía

In [102]:
occ=A["company"].unique() #lista de todas las compañias
for i in occ:
    c=0
    for j in A["company"]:
        if i==j:
            c+=1
    print("la cantidad de automoviles en la compañia", i, "es de", c, "autos")

la cantidad de automoviles en la compañia alfa-romero es de 3 autos
la cantidad de automoviles en la compañia audi es de 4 autos
la cantidad de automoviles en la compañia bmw es de 6 autos
la cantidad de automoviles en la compañia chevrolet es de 3 autos
la cantidad de automoviles en la compañia dodge es de 2 autos
la cantidad de automoviles en la compañia honda es de 3 autos
la cantidad de automoviles en la compañia isuzu es de 1 autos
la cantidad de automoviles en la compañia jaguar es de 3 autos
la cantidad de automoviles en la compañia mazda es de 5 autos
la cantidad de automoviles en la compañia mercedes-benz es de 4 autos
la cantidad de automoviles en la compañia mitsubishi es de 4 autos
la cantidad de automoviles en la compañia nissan es de 5 autos
la cantidad de automoviles en la compañia porsche es de 2 autos
la cantidad de automoviles en la compañia toyota es de 7 autos
la cantidad de automoviles en la compañia volkswagen es de 4 autos
la cantidad de automoviles en la compañia volvo es de 2 autos

5. Encuentra el coche con el precio más alto por compañía

In [140]:
occ=A["company"].unique() #lista de todas las compañias
for i in occ:
    pmax=0
    n=1
    for j in A["company"]:
        if i==j:
            if A["price"][n]>=pmax:
                pmax=A["price"][n]
        n+=1
    print("el precio mas alto de la compañia", i, "es de", pmax, "pesos")

el precio mas alto de la compañia alfa-romero es de 16500.0 pesos

KeyError: 7

6. Encuentre el kilometraje promedio (**average-mileage**) de cada compañía automotriz

In [141]:
occ=df["company"].unique() #lista de todas las compañias
for i in occ:
    suma=0
    c=0
    n=1
    for j in df["company"]:
        if i==j:
            suma+=df["average-mileage"][n] #kilometraje en esa compañia
            c+=1
        n+=1
    d=suma/c
    print("el kilometraje promedio de", i, "es", d, "millas")

el kilometraje promedio de alfa-romero es 21.333333333333332 millas

KeyError: 7

7. Ordenar todos los autos por columna de precio (**price**)

In [128]:
A=A.sort_values(by=["price"])
A.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
16,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0
36,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0
66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
49,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
37,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0

## Problema 03


Siguiendo la temática de los automóviles, resuelva los siguientes problemas:

### a) Subproblema 01
A partir de los siguientes diccionarios:

In [129]:
GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'],
              'Price': [23845, 171995, 135925 , 71400]}
japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 
                'Price': [29995, 23600, 61500 , 58900]}

* Cree dos dataframes (**carsDf1** y **carsDf2**) según corresponda.
* Concatene ambos dataframes (**carsDf**) y añada una llave ["Germany", "Japan"], según corresponda.

In [133]:
carsDf1=pd.DataFrame(GermanCars)
carsDf2=pd.DataFrame(japaneseCars)
pd.concat([carsDf1, carsDf2])

       Company   Price
0         Ford   23845
1     Mercedes  171995
2          BMV  135925
3         Audi   71400
0       Toyota   29995
1        Honda   23600
2       Nissan   61500
3  Mitsubishi    58900

### b) Subproblema 02

A partir de los siguientes diccionarios:

In [143]:
Car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]}
car_Horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182 , 160]}

* Cree dos dataframes (**carsDf1** y **carsDf2**) según corresponda.
*  Junte ambos dataframes (**carsDf**) por la llave **Company**.

In [144]:
carsDf1=pd.DataFrame(Car_Price)
carsDf2=pd.DataFrame(car_Horsepower)
pd.concat([carsDf1, carsDf2])

  Company     Price  horsepower
0  Toyota   23845.0         NaN
1   Honda   17995.0         NaN
2     BMV  135925.0         NaN
3    Audi   71400.0         NaN
0  Toyota       NaN       141.0
1   Honda       NaN        80.0
2     BMV       NaN       182.0
3    Audi       NaN       160.0